* {
  margin: 0;
  padding: 0;
}

body{
  background: url("image.jpg") no-repeat ;
}

.footer {
  text-align: center;
}

.main-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: 450px;
  min-height: 340px;
}
.main-time div {
  background-color: red;
  height: 100px;
  width: 100px;
}

.times {
  display: flex;
  width: 400px;
  margin: 10px;
}

.minSecs {
  font-family: DS-DIGIT;
  font-size: 100px;
}

.milliseconds {
  font-family: DS-DIGIT;
  font-size: 50px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.input-time {
  display: flex;
  margin: 10px;
}

.input-time input{
  text-align: center;
  width: 140px;
  background: none;
  font-family: DS-DIGIT;
  font-size: 90px;
  border: none;
}

.input-time input:focus {
  outline: none;
}

.input-time p {
  font-family: DS-DIGIT;
  font-size: 100px;
}

.menu-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-time p{
  margin-top: 5px;
  margin-right: 10px;
}

.input-time-reiniciar:hover {
  cursor: pointer;
}

.input-time-iniciar:hover {
  cursor: pointer;
}

.input-time-zerar:hover {
  cursor: pointer;
}

.input-time-retomar:hover {
  cursor: pointer;
}


.input-time-resetar:hover {
  cursor: pointer;
}

.input-time-parar:hover {
  cursor: pointer;
}
